@{
    ViewBag.Title = "PrivacyPolicy";
}


<div class="row">
    <div class="container columns large-12">
    <h2>Privacy Policy</h2>
        <div class="containerBody textContainer">
            <div .content {
    padding-right:50%;
   
       
            <h3>Privacy Policy</h3>
            <p>Any information collected on sqlconfidence.com or any sub-site, will be kept strictly confidential and will not be sold, reused, rented, loaned, or otherwise disclosed in ways that you have not consented to.</p></br>
            <h3>Cookies</h3>
            <p>Cookies are files that web servers place on an Internet user’s computer that are designed to store information specific to that user. The use of cookies is required to use the login/membership functionality of this website.</p></br>
            <h3>User Information</h3>
            <p>SQL Confidence does not sell, rent, loan, trade, or lease any personal information collected on this site. SQL Confidence reserves the right to trade, lease, sell, rent loan to third parties, or reuse statistical information gained from the data you enter.</p></br>
            <h3>Changes To This Privacy Policy</h3>
            <p>SQL Confidence may amend this policy from time to time. If any substantial changes are made to in the way SQL Confidence use your personal information we will notify you by updating the website or by email.  SQL Confidence operates in accordance with the Data Protection Act 1998.</p></br>
            <p>If you have any questions, please contact us.</p>
        </div>
            </div>
    </div>
</div>