trunk/SqlConfidence/node_modules/
branches/multiple-choice/packages/
branches/multiple-choice/SqlConfidence/node_modules/
trunk/DatabaseFiles/obj/
trunk/Common/bin/
trunk/Common/obj/
trunk/DataAccess/bin/
branches/landing/packages/
trunk/packages/
trunk/UnitTests/bin/
trunk/DataAccess/obj/
trunk/SqlConfidence/obj/
trunk/SqlConfidence/bin/
trunk/UnitTests/obj/
esnext-aspnetcore/src/DataAccess/obj/
esnext-aspnetcore/src/EntityServices/obj/
esnext-aspnetcore/src/EntityServices/bin/
branches/multiple-choice/SqlConfidence/obj/
branches/multiple-choice/UnitTests/obj/
esnext-aspnetcore/src/Services/obj/
esnext-aspnetcore/src/ViewModels/obj/
esnext-aspnetcore/src/ViewModels/bin/
