@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="large-12 columns">
        <div class="container">
            <h2>Admin</h2>
            <div class="containerBody">
                <a class="button call-to-action" href="/Admin/DataSources">Data Sources</a>
                <a class="button call-to-action" href="/Admin/CreateDataTable">Create Data Table</a>
                <a class="button call-to-action" href="/Admin/Exercises">Exercises</a>
            </div>
        </div>
    </div>
</div>