@{
    ViewBag.Title = "Index";
}

<div class="lsg-style-guide">
    <h1>Living Style Guide</h1>

    <h2>Container</h2>
    <div class="container">
        <div class="containerBody">This is the container body</div>
    </div>
</div>