.container {
    margin-top: 20px;
}

.container.small-container {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.containerBody.textContainer {
    padding: 5px;
}