.sc-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 640px;
    height: 150px;
    margin-top: -75px;
    margin-left: -320px;
    background-color: $white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    border-radius: 5px;
    padding: 20px;

    display: none;
    &.active {
        display: block;
    }
}